<!DOCTYPE html>
<html class="h-100" lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/ico/ico.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Réinitialisation mdp</title>
</head>
<style>
    body {
   font-family: 'Poppins', sans-serif;
  font-size:15px;
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer{
font-size:15px;
width:100%;
position:absolute;
bottom:0%;
display:flex;
flex-direction:row;
justify-content: center;
align-items:center;
height:50px;
opacity:0.7;
 margin-top: 50px;
}


img{
width:150px;
}


</style>
<body class="h-100 bg-primary">


<div class="container d-flex flex-column position-absolute top-50 start-50 translate-middle">
    <div class="mt-2 mb-5 p-5 d-flex justify-content-center">
        <img th:src="@{/img/logo/logo.jpg}" alt="Logo de l'entreprise" class="logoEntreprise img-fluid img-thumbmail">
    </div>

    <div class="d-flex justify-content-center mb-5 flex-column">
        <h5 class="text-light">Code de réinitialisation à communiquer à l'utilisateur:</h5>
        <input type="text" name="" id="" th:value="${code}" th:text="${code}" class="form-control" readonly>
    </div>

    <div class="d-flex justify-content-center mb-5">
        <a th:href="@{/home}" class="text-decoration-underline fst-italic fw-bolder">Page d'accueil</a>
    </div>
</div>



<footer>
    ©Copyright VERON v-1.0- POWERED BY KWADJIO NANA Roméo Yannick
</footer>

<script>

</script>
</body>
</html>