<!DOCTYPE html>
<html class="h-100" lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/ico/ico.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Reset-All</title>
</head>
<style>
    body {
   font-family: 'Poppins', sans-serif;
  font-size:15px;
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer{
font-size:15px;
width:100%;
position:absolute;
bottom:0%;
display:flex;
flex-direction:row;
justify-content: center;
align-items:center;
height:50px;
opacity:0.7;
 margin-top: 50px;
}


img{
width:150px;
}


</style>
<body class="h-100 bg-primary">


<div class="container d-flex flex-column position-absolute top-50 start-50 translate-middle">
    <div class="mt-2 mb-5 p-5 d-flex justify-content-center">
        <img th:src="@{/img/logo/logo.jpg}" alt="Logo de l'entreprise" class="logoEntreprise img-fluid img-thumbmail">
    </div>

    <div class="d-flex justify-content-center mb-5">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#viewConfirmation" role="button" id="btn-reset">Reset ?</button>
    </div>

    <div class="d-flex justify-content-center mb-5">
        <a th:href="@{/login}" class="text-decoration-underline fst-italic fw-bolder">Page de connexion</a>
    </div>
</div>


        <div class="modal fade" id="viewConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-danger modal-sm">
                        <h6 class="modal-title text-light" id="staticBackdropLabel">Réinitialisation...</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <h6>Souhaitez-vous tout effacer ?</h6>
                        <div class="d-flex justify-content-center">
                            <form th:action="@{/delete-all}" method="post">
                                <button type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Permet de tout réinitialiser dans l'application" class="btn btn-danger px-5">Oui</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


<footer>
    ©Copyright VERON v-1.0- POWERED BY KWADJIO NANA Roméo Yannick
</footer>

<script>

</script>
</body>
</html>